---
title: About
layout: default
---

{% include contentHeader.html title=page.title %}

<p>As a producer closely-aligned to the mutant, hybrid sounds emanating from both instrumental grime and wider strands of UK-centric bass music, Last Japan has certainly carved out his own niche within the landscape over the last two years.</p>

<p>Active since 2010, his early production work found itself picked-up by labels like Southern Fried and Four 40 Records, although it wasn’t until the back end of 2011 that his sound – a positively cold spin on formative grime beats, laced with full-blooded melodies and softer, eerier textures – started to take shape. It was ‘Blood Diamond’ – a track recorded alongside 1-800-Dinosaur signee, Trim – that offered the first glimpse into Last Japan’s conceptual, future-facing producer world, although he chose to embrace, rather than rush, his development.</p>

<p>2014’s self-released mixtape, ‘Ride With Us’, was the first to fully alerted the wider scene to take note, after a short burst of grime singles via Sony that also saw Last Japan oversee specially commissioned work for Nokia and additional work for revered French fashion brand, Kenzo. The mixtape itself was a statement of intent and a body of work that proved he could take charge of his own direction with purpose. Collaborations with Mr Mitch, Treble Clef, Cliques and fabled Ruff Sqwad MC, Rapid, punctuated the next-gen grime sounds that also saw ‘Ride With Us’ reviewed as Mixmag’s ‘Album Of The Month’ upon its release.</p>

<p>His freeze-dried remix of Chemist’s ‘Blocks’ in the summer of 2014 then saw Last Japan join the ranks of emergent grime label, Coyote Records, from which he has since launched ‘Harca’ – arguably his most identifiable track to date – and a powerful remix for another Coyote discovery, Letta. He also saw vocal work with D Double E – the excellent, ‘Til Da Morning Comes’ – released through Amy Becker’s ‘Amy Becker TRX’ compilation, which was made available digitally and via limited edition zine.</p>

  <!-- {% for item in site.posts %}
  <li>
    <span>{{ item.date | date: "%B %-d, %Y" }}</span>
    <h1>
      <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
    </h1>
  </li>
  {% endfor %} -->
