---
layout: default
title: music
---

{% include contentHeader.html title="Releases" %}

{% for item in site.categories.releases %}
  {% if item.type == 'Release' %}
    <div class="mb4 w-100 overflow-hidden">
      <div class="w-20 fl">
        <a href="{{ item.url | prepend: site.baseurl }}">
          <img class="db w-100" src="{{ item.artworkImageUrl }}" />
        </a>
      </div>
      <div class="w-60 fl ml3">
        <h1 class="f5 mb2 mt0">{{ item.title }}</h1>
        <div>
          {{ item.soundcloudembed }}
        </div>
        <div class="">
          {% if item.soundcloudLink %}<a class="f6 white o-80 text-dec-none mr2" href="{{ item.soundCloudLink }}">SOUNDCLOUD</a>{% endif %}
          {% if item.itunesLink %}<a class="f6 white o-80 text-dec-none mr2" href="{{ item.itunesLink }}">iTUNES</a>{% endif %}
          {% if item.spotifyLink %}<a class="f6 white o-80 text-dec-none mr2" href="{{ item.spotifyLink }}">SPOTIFY</a>{% endif %}
          {% if item.vinylLink %}<a class="f6 white o-80 text-dec-none mr2" href="{{ item.vinylLink }}">VINYL</a>{% endif %}
        </div>
      </div>
      <div>
      </div>
    </div>
  {% endif %}
{% endfor %}

<h1 class="f3 dib mp3 w-100 mt5">Mixes</h1>
{% for item in site.categories.releases %}
  {% if item.type == 'Mixes' %}
    <div class="mb3">
      <div class="w-20 fl">
        <a href="{{ item.url | prepend: site.baseurl }}">
          <img class="db w-100" src="{{ item.artworkImageUrl }}" />
        </a>
      </div>
      <div class="w-60 fl ml3">
        <a class="f5 white" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        <div>
          {{ item.soundcloudembed }}
        </div>
        <div class="">
          <a href="f5">sssip</a>
        </div>
      </div>
      <div>
      </div>
    </div>
  {% endif %}
{% endfor %}

<h1 class="f3 dib mp3 w-100 mt5">Soundtracks</h1>
{% for item in site.categories.releases %}
  {% if item.type == 'Soundtrack' %}
    <div class="mb3">
      <div class="w-20 fl">
        <a href="{{ item.url | prepend: site.baseurl }}">
          <img class="db w-100" src="{{ item.artworkImageUrl }}" />
        </a>
      </div>
      <div class="w-60 fl ml3">
        <a class="f5 white" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        <div>
          {{ item.soundcloudembed }}
        </div>
        <div class="">
          <a href="f5">sssip</a>
        </div>
      </div>
      <div>
      </div>
    </div>
  {% endif %}
{% endfor %}
