:root {
  --graphik-font-family: Graphik, 'avenir next', avenir, helvetica, 'helvetica neue', sans-serif;
  --futura-font-family: Futura, 'avenir next', avenir, helvetica, 'helvetica neue', sans-serif;

  --f1-font-size: 1.8rem;
  --f2-font-size: 1.3rem;
}
