.content {
  left: 100%;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.content-active {
  left: 0%;
}

@media (--breakpoint-large) {
  .content-active {
    left: 50%;
  }
}

.back img {
  margin-bottom: 4px;
}

.covervid-video {
  width: 100%;
}
.covervid-wrapper {
    position: fixed;
    top: 0;
    left: -5%;
    width: 110%;
    height: 100%;
}
