{% assign current = page.url | downcase | split: '/' %}
{% include head/base.html %}

<div class="logo-center">
  <img src="assets/images/logo.svg" />
</div>
<div class="tottex-border-container"></div>
<div class="grid">
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-50 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-50 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-50 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-50 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-75 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-50 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-50 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-50 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-25 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>
  <div class="w-50 grid-item ">
    <img src="http://thecatapi.com/api/images/get?format=src&type=jpg">
    <div class="tottex-border"></div>
  </div>

</div>
<!--
<div class="container">
  <section class="z-4 {% unless page.noContentArea %}content-active{% endunless %} pt5 content w-100 w-50-l fixed left-0 right-0 bottom-0 top-0 pa5 white overflow-scroll z-1">
    {{ content }}
  </section>
</div> -->
